body{
    padding: 50px 0;
    position: relative;
    height: 100%;
    background-size: cover;
    z-index: 1;
    background-image: url(../images/slider-3-1920x1080.png);
    width: 100%; height: 100%;
    margin: 0;
    font-weight: 400;
    word-wrap: break-word;
}

h3{

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15%;
    padding: 8px;
    font-size: 18px;
    font-family: cursive;
    color: #ffffffff;
    text-align: justify;
}

.divOutside{
    background-color: rgba(0,0,0,0.7);
    margin-left: 25%;
    margin-right: 25%;
}

img{
    position: relative;
    display: inline-block;
}